body {
    font-family: 'Lato', sans-serif;
    background-image: url('https://res.cloudinary.com/dvvwg1hp3/image/upload/v1534982508/antique-automobile-car-9416.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
  

.home-body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 25px 0px;
  margin-top: 50px;
  background-color: rgba(37,38,42, 0.7);
}

.parallax-top {
    height: 650px;    
    margin: 0 auto;
    text-align: center;
    color: white;
  }

  .fa-trademark {
    font-size: 18px;
    color: white;
  }
  
  .parallax-top h1 {
    font-size: 50px;
    padding-top: 50px;
  }
  
  .boxes-container {
    color: white;
    display: flex;
    justify-content: center;
    padding: 50px;
    
  }
  .box-title {
      font-size: 48px;
      font-family: 'Abril Fatface', cursive;
      padding: 50px 0px;
      color: white;
  }
  
  .box-1 {
    display: flex;
    color: white;
    flex-direction: column;
    height: 400px;
    width: 400px;
    border: 1px solid white;
    margin: 0 50px;

  }
  .box-1:hover {
    background-color: rgba(199, 199, 199, 0.2);
  }

  .box-1 p {
      font-size: 30px;
      line-height: 2em;
      text-shadow: 1px 1px 2px black;
  }

  .box-2 p {
      font-size: 30px;
      line-height: 2em;
      text-shadow: 1px 1px 2px black;
  }
  
  .box-2 {
    display: flex;
    color: white;
    flex-direction: column;
    height: 400px;
    width: 400px;
    border: 1px solid white;
    margin: 0 50px;
  }
  .box-2:hover {
    background-color: rgba(199, 199, 199, 0.2);
  }

  .large-quote {
    font-size: 28px;
    margin: 200px 0;
    text-align: center;
    line-height: 1.2em;
    color: white;
    text-shadow: 1px 1px 2px black;
  }
  
  .why-use-container {
    padding-top: 50px;
    margin-top: 25px;

  }
  
  .why-use-container h1 {
    text-align: center;
    font-size: 50px;
    color: #E0E0E0;
    text-shadow: 1px 1px 2px black;
  }
  
  .why-use-boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
  }
  
  .reason-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    width: 450px;
    border: 1px solid white;
  }

  .reason-1 p {
      font-size: 24px;
      color: #E0E0E0;
      font-weight: 800;
      padding: 10px;
      text-align: center;
      line-height: 1.5em;
      text-shadow: 1px 1px 2px black;
  }
  .reason-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    width: 450px;
    border: 1px solid white;
    margin: 0 50px;
  }

  .reason-2 p {
    font-size: 24px;
    color: #E0E0E0;
    text-shadow: 1px 1px 2px black;
    font-weight: 800;
    padding: 10px;
    text-align: center;
    line-height: 1.5em;
  }
  .reason-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    width: 450px;
    border: 1px solid white;
  }

  .reason-3 p {
    font-size: 24px;
    color: #E0E0E0;
    text-shadow: 1px 1px 2px black;
    font-weight: 800;
    padding: 10px;
    text-align: center;
    line-height: 1.5em;
  }



  @media (max-width: 500px) {
    body {
      background-image: url('https://res.cloudinary.com/dvvwg1hp3/image/upload/v1535057916/android-wallpaper-asphalt-curve-775199.jpg');
      background-attachment: fixed;
      background-position: center;
      background-size: cover;
    }
    .home-body {
      width: 350px;
      padding: 25px 0px;
      margin-top: 50px;
    }
    .parallax-top h1 {
      font-size: 30px;
      padding-top: 0px;
    }
    .boxes-container {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 250px;
      margin-left: 50px;
    }
    .box-title {
      font-size: 38px;
  }
  .box-1 {
    height: 350px;
    width: 325px;
    margin-bottom: 20px;
  }
  .box-2 {
    height: 350px;
    width: 325px;
  }
  .why-use-container {
    padding-top: 0px;
    margin-top: -120px;
  }
  .why-use-container h1 {
    font-size: 30px;
  }
  .why-use-boxes {
    flex-direction: column;
    padding: 0px;
  }
  .reason-1, .reason-2, .reason-3 {
    height: 325px;
    width: 325px;
    margin: 15px 0;
  }
  .reason-1 p, .reason-2 p, .reason-3 p {
    font-size: 20px;
  }
  }